#fileInput[type=file]::file-selector-button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
#fileInput{
    padding: 6px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    
}

.stdropdown-input input{
    border: none !important;
    padding: 0 !important;
}
.stdropdown-input input:focus{
    outline: none !important;
}